body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* root colors */

:root{
    --main: #fff;
    --primary: #07072b;
    --secondary: #DB59DE;
    --alternative: #41BBE0;
    --accent: #E0A600;
}
/* main fonts */
h1{
    font-size: 52px;
    font-weight: 800;
}
h2{
    font-size: 42px;
    font-weight: 700;
}
h3{
    font-size: 34px;
    font-weight: 600;
}
h4{
    font-size: 24px;
    font-weight: 500;
}
/* mobile */
@media  screen and (min-width: 0px) and (max-width: 600px ) {
h1{
        font-size: 38px;
        font-weight: 800;
    }
h2{
        font-size: 30px;
        font-weight: 700;
    }
h3{
        font-size: 24px;
        font-weight: 600;
    }
h4{
        font-size: 20px;
        font-weight: 500;
    }
}
/* tablet */
@media  screen and (min-width: 600px) and (max-width: 1000px ) {
h1{
        font-size: 42px;
        font-weight: 800;
    }
h2{
        font-size: 36px;
        font-weight: 700;
    }
h3{
        font-size: 30px;
        font-weight: 600;
    }
h4{
        font-size: 22px;
        font-weight: 500;
    }
}


/* buttons */

/* primary button */
.primary--button{
    padding: 0.8em 2em;
    border-radius: 4px;
    border: none;
    background-color: var(--accent);
    color: var(--primary);
    font-weight: 600;
    font-size: 1em;
    transform: scale(100%);
    transition: ease-out 0.2s;
}
    /* &hover */
    .primary--button:hover{
        cursor: pointer;
        background-color: var(--main);
        padding: 0.8em 4em 0.8em 2em;
        transform: scale(97%);
        transition: ease-in 0.2s;
    }
     /* &after on hover */
     .primary--button:hover::after{
        content:"►";
        position: absolute;
        margin-left: 1.5em;
    }
/* secondary button */
.secondary--button{
    padding: 0.8em 2em;
    border-radius: 4px;
    border: none;
    background-color: var(--secondary);
    color: var(--primary);
    font-weight: 600;
    font-size: 1em;
    transform: scale(100%);
    transition: ease-out 0.2s;
}
    /* &hover */
    .secondary--button:hover{
        cursor: pointer;
        background-color: var(--alternative);
        padding: 0.8em 4em 0.8em 2em;
        transform: scale(97%);
        transition: ease-in 0.2s;
    }
     /* &after on hover */
     .secondary--button:hover::after{
        content:"►";
        position: absolute;
        margin-left: 1.5em;
    }
/* links */
/* primary link */
.primary--link{
    padding: 0.8em 2em;
    border-radius: 4px;
    border: none;
    background-color: var(--alternative);
    color: var(--main);
    font-weight: 600;
    font-size: 1em;
    transform: scale(100%);
    transition: ease-out 0.2s;
}
    /* &hover */
    .primary--link:hover{
        cursor: pointer;
        background-color: var(--accent);
        padding: 0.8em 4em 0.8em 2em;
        transform: scale(97%);
        transition: ease-in 0.2s;
        border: none;
    }
    /* &after on hover */
    .primary--link:hover::after{
        content:"►";
        position: absolute;
        margin-left: 1.5em;
        
    }
/* secondary link */
.secondary--link{
    padding: 0.8em 2em;
    border-radius: 4px;
    border: none;
    background-color: var(--main);
    color: var(--primary);
    font-weight: 600;
    font-size: 1em;
    transform: scale(100%);
    transition: ease-out 0.2s;
}
    /* &hover */
    .secondary--link:hover{
        cursor: pointer;
        background-color: var(--secondary);
        padding: 0.8em 4em 0.8em 2em;
        transform: scale(97%);
        transition: ease-in 0.2s;
        border: none;
    }
    /* &after on hover */
    .secondary--link:hover::after{
        content:"►";
        position: absolute;
        margin-left: 1.5em;
        
    }
/* header */
header{
    background-color: var(--primary);
    position: sticky;
    top: 0;
    z-index: 99;
}

#wrapper-header{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 1em;
    align-items: center;
}
#wrapper-header nav{
    margin: 0;
}
#wrapper-header ul{
    display: flex;
    gap: 2em;
    margin-block-start: 0em ;
    margin-block-end: 0em ;
    padding-inline-start: 0px;
    list-style-type: none;
}

#wrapper-header a{
    text-decoration: none;
    color: var(--main);
    font-weight: 500;
}
    /* &hover */
    #wrapper-header a:hover{
        cursor: pointer;
        color: var(--secondary);
    }

.social-header{
    padding: 1.1em;
    border: none;
    background-color: var(--accent);
    border-radius: 0.15em;
    transform: scale(100%);
    transition: ease-out 0.2s;
}
    /* &hover */
    .social-header:hover{
        cursor: pointer;
        background-color: var(--main);
        transform: scale(105%);
        transition: ease-in 0.2s;
    }
    /* &before */
    .social-header::before{
        content: "Social media";
    }
/* mobile */
@media  screen and (min-width: 0px) and (max-width: 600px ) {
    .social-header{
        padding: 1em 1.1em;
    }
    .social-header::before{
        content: "✉︎" !important;
        
    }
    #wrapper-header{
        max-width: 100%;
        padding: 1em 1em;
    }
}
/* tablet */
@media  screen and (min-width: 600px) and (max-width: 1000px ) {
    #wrapper-header{
        width: 100%;
        padding: 1em 1em;
    }
}
.social-header::before{
    content: "Social media";
}
/* end of header */

/* first home section */
.s1-wrapper{
    background-color: var(--primary);
}
#s1-home{
    max-width: 1200px;
    padding: 6em 1em;
    height: 70vh;
    display: flex;
    margin: 0 auto;
}
#s1-home .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#s1-home h1,p{
    color: var(--main);
}
#s1-home h1{
    margin-bottom: 0.5em;
}
#s1-home h1 > span{
    color: var(--secondary);
}
#s1-home p{
    max-width: 500px;
    margin: 0px;
    padding-bottom: 2em;
}
#s1-home .secondary--link{
    margin-top: 1em;
    left: 0;
}

#s1-home .secondary--button{
    margin-top: 1em;
    left: 0;
}
#s1-home .secondary--button:hover::after{
    content: "▼";
}

/* mobile */
@media  screen and (min-width: 0px) and (max-width: 600px ) {
    #s1-home{
        padding: 1em 1em 3em 1em;
        height: fit-content;
        display: flex;
        margin: 0 auto;
    }
}
/* tablet */
@media  screen and (min-width: 600px) and (max-width: 1000px ) {
    #s1-home{
        padding: 1em 1em 3em 1em;
        height: fit-content;
        display: flex;
        margin: 0 auto;
        width: 100% !important;
    }
}
/* end of first home section */

/* second section homepage */
.s2-wrapper{
    background-color: var(--secondary);
}
#s2-home{
    max-width: 1200px;
    padding: 6em 1em;
    height: 70vh;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
#s2-home .s2-titel{
max-width: 700px;
}
#s2-home .s2-titel h1{
    
}

#s2-home .s2-titel p{
    
}

#s2-home .s2-grid{
    padding: 2em 0em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0px;
}
.s2-grid article{
    padding: 2em 2em;
    background-color: #fff;
    color: var(--secondary);
    border-radius: 0.25em;
}
.s2-grid article:hover{
    padding: 2em 2em;
    background-color: var(--primary);
    border-radius: 0.25em;
    color: var(--main) !important;
    transition: ease-in 0.2s;
}

.s2-grid article p{
    margin-top: -1em;
    color: var(--secondary);
}

.s2-grid article h3{
    margin: 0em 1em 1em 0em;
}
#s2-home span:hover::before{
    content: "(99%)";
    cursor: pointer;
    color: var(--alternative);
}
/* different childs of articles !only edit when needed!*/
    /* .s2-grid article:nth-child(1){
        
    }
    .s2-grid article:nth-child(2){
        
    }
    .s2-grid article:nth-child(3){
        
    }
    .s2-grid article:nth-child(4){
        
    } */

/* mobile */
@media  screen and (min-width: 0px) and (max-width: 600px ) {
    #s2-home{
        padding: 3em 1em 4em 1em;
        height: fit-content;
        display: flex;
        margin: 0 auto;
        overflow: hidden;
    }
    #s2-home .s2-grid{
        overflow: scroll;
    }
    .s2-grid article{
        min-width: max-content;
    }
}
/* tablet */
@media  screen and (min-width: 600px) and (max-width: 1000px ) {
    #s2-home{
        padding: 1em 1em 2em 1em;
        height: fit-content;
        display: flex;
        margin: 0 auto;
        width: 100% !important;
        overflow: hidden;
    }
    #s2-home .s2-grid{
        overflow: scroll;
    }
    .s2-grid article{
        min-width: max-content;
    }
}
/* end of second section homepage */
footer{
   
}